
@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: Lilex;
    font-size: 22px;
}

summary {
    font-size: 32px;
    font-weight: 500;
}

input {
    font-size: 22px;
}
.dark {
    color: #C8C8C8;
    background-image: linear-gradient(#323232, #323232);
    background-attachment: fixed;
}

.white {
    color: black;
    background-image: linear-gradient(to bottom right, lightskyblue, pink);
    background-attachment: fixed;
}

#header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#switch-background {
    width: 32px;
    height: 32px;
}

#photo-and-color {
    display: flex;
    justify-content: space-between;
}

#photo-container {
    border: solid 1px;
    width: 400px;
    height: 300px;
}

#photo {
    width: 400px;
    height: 300px;
}