body
{
}
form{
    width:45%;
}
form > div{
    text-align:center;
    border:solid 1px;
    margin:10px;
}
select
{
    width:100%;
    margin: 15px 0px;
}
option:disabled
{
    text-align:center;
}
.eula
{
    width:500px;
    height:300px;
    overflow:scroll;
    padding:15px;
}