
@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');

body 
{
    font-family: Lilex;
    font-size: 48px;
    background-image: linear-gradient(to bottom right, lightskyblue, pink);
    background-attachment: fixed;
}