
@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: Lilex;
    font-size: 20px;
}
p {
    text-align: justify;
    text-indent: 20px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}